{% extends 'base_layout.html' %}

{% block stylecontent %}
    <style>
        h1 {
            border-bottom: 1px solid;
        }
        h4 {
            font-weight: 400;
        }
        a:hover {
            text-decoration: none;
        }

        .foot {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    </style>
{% endblock %}


{% block bodycontent %}
    <div class="container text-center">
        <h1>Welcome to MWANGA HAKIKA BANK</h1>
        <h4><em>We are stronger together</em></h4>
    </div>

    <br>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "REGIONAL DAILY TRANSACTIONS"
	},
	axisY: {
		title: "Daily usage (in %)",
		suffix: "%"
	},
	axisX: {
		title: "Regions"
	},
	data: [{
		type: "column",
		yValueFormatString: "#,##0.0#\"%\"",
		dataPoints: [
			{ label: "Dar", y: 7.1 },
			{ label: "Arusha", y: 6.70 },
			{ label: "Tanga", y: 5.00 },
			{ label: "Moshi", y: 2.50 },
			{ label: "Dom", y: 2.30 },
			{ label: "Mwanza", y: 1.80 },
			{ label: "Moro", y: 1.60 },
			{ label: "Mbeya", y: 1.60 }

		]
	}]

});
chart.render();

}
</script>
 <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>




    <br>
{% endblock %}
